@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import 'myButtonPartial';

$myColor: red;

p {
	color: $myColor; 
	font-family: 'Slabo', serif;
	font-size: 1.5em
}



